body {
  background: #ffd;
}

#form form {
  width: 100%;
}

#list li div {
  display: inline-block;
}

#list li .delete {
  position: absolute;
  right: 10px;
  top: 40%;
  color: #fff;
}

#list li:hover .delete {
  color: #999;
}

#filter {
  background: #fff;
  border-top: 1px solid #ddd;
  padding-top: 3px;
}

#filter .btn {
  background: #eee;
  color: #ccc;
  border: 1px solid #ddd;
}

#filter .selected {
  color: #212529;
}